.filter-box {
    overflow-x: hidden;
    transition-duration: 0.3s;
    padding: 0;
    transition-timing-function: cubic-bezier(0.53, 0.00, 0.43, 1.00);
    transition-property: height; 
  }
  .filter-box.open {
    /* height: 395px; */
    padding: 16px 0;
  }
  @media (min-width: 629px) {
    .filter-box.open {
      /* height: 399px; */
    }
  }
  @media (min-width: 868px) {
    .filter-box.open {
      /* height: 148px; */
    }
  }
  #filters-action #filters-open svg {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.53, 0, 0.43, 1);
  }
  #filters-action.active #filters-open svg {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.53, 0, 0.43, 1);
  }