---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import Newsletter from "../components/Newsletter.astro";

---

<Layout title="Wise energy" isHome={false} textdark={true}>
  <main>
    <ContactForm />
    <Newsletter />
  </main>
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<link rel="stylesheet" href="/assets/css/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>
<script is:inline src="/assets/js/script.js"></script>
