---
import Layout from "../layouts/Layout.astro";
import Newsletter from "../components/Newsletter.astro";
import VideoRoll from "../components/VideoRoll.astro";
import About from "../components/About.astro";
import BrandRoll from "../components/BrandRoll.astro";
---

<Layout title="Mr Nodu" isHome={true} textdark={true}>
  <main>
    <section class="pt-32 lg:pt-52 pb-10 bg-second-200/10">
      <div class="container wrapper max-w-[1274px]">
        <div class="flex lg:gap-[100px] flex-wrap">
          <div class="max-w-[400px] lg:max-w-[730px] mb-12 md:mb-0">
            <h1 class="mb-6 text-main-200">Marka</h1>
            <h3 class="text-main-300">
              To ponadczasowa marka, która troszczy się o brzuchy Polaków.
              Szczyciy się długoletnią renomą
            </h3>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="267"
            height="100"
            viewBox="0 0 267 100"
            fill="none"
          >
            <path
              d="M64.7125 38.7362C64.7125 39.345 63.861 39.5886 62.2797 39.4668H60.0902H58.2656C57.1708 39.4668 56.5626 39.5886 56.3194 39.9539C56.0761 40.3192 56.0761 41.2934 56.0761 42.8764V92.9244C56.0761 95.9686 56.0761 97.7952 55.9544 98.2823C55.8328 98.7694 55.7112 99.0129 55.3462 99.0129C54.9813 99.0129 54.4948 98.6476 54.0082 98.0387L41.236 81.7214C33.8159 72.2233 24.9362 60.4114 14.3535 46.286V94.8727C14.4752 95.6033 14.9617 96.0904 15.8132 96.334C16.7863 96.5775 18.9759 96.6993 22.5034 96.6993C23.3549 96.6993 23.8415 96.9428 23.8415 97.4299C23.8415 98.0387 22.99 98.2823 21.287 98.2823C20.6788 98.2823 18.8542 98.1605 15.5699 98.0387C14.4752 98.0387 13.502 97.917 12.5289 97.917C12.6506 97.917 12.0424 97.917 10.826 98.0387C9.60957 98.1605 7.66332 98.1605 5.23052 98.1605H4.2574C2.67608 98.1605 1.94624 97.917 1.94624 97.4299C1.94624 96.9428 2.55444 96.6993 3.89248 96.6993C7.78497 96.6993 10.0961 96.4557 10.7043 96.0904C11.3125 95.7251 11.6774 94.5074 11.6774 92.4373V49.5738C11.6774 44.7029 10.5827 41.7804 8.27153 40.5627C7.17676 39.9539 5.35216 39.7103 2.55444 39.7103C0.851479 39.7103 0 39.345 0 38.7362C0 38.1273 0.486561 37.8838 1.45968 37.8838C2.79772 37.8838 4.50069 37.8838 6.56857 38.0055C8.63645 38.1273 9.7312 38.1273 9.85285 38.1273C10.0961 38.1273 10.9476 38.1273 12.6506 38.0055C14.8401 38.0055 16.908 37.8838 18.9759 37.762L53.2784 82.5738V43.9723C53.2784 42.1458 53.2784 41.0498 53.1567 40.6845C53.0351 40.3192 52.7918 40.0756 52.3052 39.8321C51.8187 39.5886 50.2374 39.5886 47.5613 39.5886C45.1285 39.5886 44.0337 39.345 44.0337 38.8579C44.0337 38.2491 44.8852 38.0055 46.4665 38.0055H49.9941C50.8456 38.0055 51.8187 38.0055 52.7918 38.0055C53.8866 38.0055 54.4948 38.0055 54.738 38.0055C54.8597 38.0055 55.3462 38.0055 56.5626 38.0055C57.6574 38.0055 58.6305 38.0055 59.6036 38.0055H62.6446C63.9827 37.8838 64.7125 38.2491 64.7125 38.7362ZM199.976 68.2048C199.976 78.4336 195.841 86.4705 187.691 92.072C181.73 96.2122 173.702 98.4041 163.728 98.4041C163.484 98.4041 162.268 98.4041 160.2 98.4041C158.132 98.4041 155.091 98.4041 151.077 98.4041H146.09H138.183C137.697 98.4041 137.21 98.4041 136.723 98.4041C135.507 98.4041 134.777 98.1605 134.777 97.5517C134.777 97.0646 135.872 96.821 137.94 96.821C140.616 96.821 142.319 96.334 143.049 95.4816C143.292 95.1162 143.414 94.0203 143.414 92.1937V45.19C143.414 42.3893 143.17 40.6845 142.684 40.1974C142.197 39.7103 140.494 39.4668 137.575 39.4668C135.994 39.4668 135.264 39.1015 135.264 38.4926C135.264 38.0055 135.872 37.762 136.967 37.762C136.845 37.762 137.575 37.762 139.156 37.762C140.738 37.762 142.197 37.762 143.657 37.762H154.361C166.282 37.762 174.797 38.4926 179.784 39.9539C185.866 41.6587 190.732 45.19 194.381 50.3044C198.152 55.5406 199.976 61.5074 199.976 68.2048ZM188.785 67.8395C188.785 58.2196 186.596 51.1568 182.338 46.5295C178.081 42.024 171.269 39.7103 162.146 39.7103C157.646 39.7103 154.969 40.0756 154.118 40.928C153.753 41.2934 153.51 42.7546 153.51 45.0683V91.4631C153.51 93.0461 153.51 94.1421 153.631 94.3856C153.753 94.7509 153.996 94.9945 154.483 95.238C156.064 95.9686 159.47 96.334 164.579 96.334C171.756 96.334 177.473 94.1421 181.852 89.7583C186.474 85.2528 188.785 77.9465 188.785 67.8395ZM267 38.7362C267 39.2233 266.392 39.4668 265.175 39.4668C264.932 39.4668 264.324 39.4668 263.229 39.4668C262.864 39.4668 262.378 39.4668 261.891 39.4668C260.188 39.4668 259.215 39.8321 258.85 40.5627C258.728 40.9281 258.607 41.6587 258.607 42.5111V75.1458C258.607 83.548 256.782 89.7583 253.133 93.655C249.484 97.5517 243.645 99.3782 235.617 99.3782C226.007 99.3782 219.195 96.9428 215.303 92.1937C212.749 89.0277 211.41 83.7915 211.41 76.4852V41.6587C211.167 40.5627 210.437 39.9539 208.978 39.7103C208.613 39.7103 207.275 39.5886 205.207 39.5886C204.112 39.4668 203.504 39.2233 203.504 38.7362C203.504 38.2491 203.99 38.0055 204.842 38.0055H206.667C207.031 38.0055 207.761 38.0055 208.978 38.0055C210.072 38.0055 211.046 38.0055 211.897 38.0055H226.129C226.494 38.0055 226.859 38.0055 227.345 38.0055C228.44 38.0055 229.048 38.3708 229.048 38.9797C229.048 39.345 228.805 39.5886 228.44 39.7103C228.075 39.7103 226.737 39.8321 224.426 39.8321C223.453 39.8321 222.845 39.8321 222.48 39.9539C221.872 40.1974 221.507 40.5627 221.385 41.1716C221.263 41.4151 221.263 42.9982 221.263 46.1642V77.2159C221.263 84.8875 222.601 90.0018 225.399 92.8026C228.197 95.6033 232.333 96.9428 237.806 96.9428C247.902 96.9428 253.62 91.9502 254.958 81.965C255.201 80.5037 255.201 74.0498 255.201 62.8469V57.8542V50.9133V45.0683C255.201 44.4594 255.201 43.8506 255.201 43.1199C255.201 42.3893 255.201 42.024 255.201 42.1458C255.201 40.928 254.471 40.0756 253.133 39.8321C252.646 39.7103 251.308 39.7103 248.997 39.7103C247.659 39.7103 247.051 39.345 247.051 38.7362C247.051 38.2491 247.538 38.0055 248.511 38.0055C248.997 38.0055 249.484 38.0055 249.849 38.0055C250.7 38.0055 253.498 38.0055 258.607 38.0055C259.337 38.0055 260.188 38.0055 261.161 38.0055C262.013 38.0055 262.621 38.0055 263.107 38.0055H264.567C266.27 38.0055 267 38.2491 267 38.7362ZM131.128 68.5701C131.128 77.2159 128.209 84.5221 122.248 90.4889C116.288 96.4557 108.99 99.5 100.353 99.5C91.2301 99.5 83.4451 96.4557 77.2415 90.3672C71.0378 84.2786 67.8752 76.8506 67.8752 67.9613C67.8752 58.9502 70.9162 51.5221 76.8765 45.6771C82.8369 39.9539 90.6219 37.0314 99.9881 37.0314C108.868 37.0314 116.166 40.0756 122.248 46.0424C128.087 52.131 131.128 59.559 131.128 68.5701ZM99.5016 37.1531C99.5016 37.1531 96.2173 44.4594 95.6091 47.3819C95.1226 49.5738 95.4875 51.7657 96.7039 53.5923C97.4337 54.6882 98.4068 55.5406 99.5016 55.5406C100.596 55.5406 101.569 54.6882 102.299 53.5923C103.516 51.7657 103.881 49.5738 103.394 47.3819C102.786 44.4594 99.5016 37.1531 99.5016 37.1531ZM118.113 79.8948C118.113 79.8948 108.503 84.1568 105.219 86.4705C102.908 88.1753 101.205 90.7325 100.84 93.5332C100.596 95.3598 100.84 96.9428 101.934 97.917C103.029 98.8911 104.732 98.8911 106.435 98.5258C109.233 97.7952 111.544 95.9686 113.004 93.4114C114.95 90.0018 118.113 79.8948 118.113 79.8948ZM116.653 65.2823C116.653 65.2823 107.895 69.179 104.854 71.3708C102.664 72.9539 101.205 75.2675 100.84 77.8247C100.596 79.4078 100.84 80.9908 101.813 81.8432C102.786 82.6956 104.367 82.8173 105.949 82.3303C108.503 81.7214 110.571 80.0166 111.909 77.703C113.733 74.4151 116.653 65.2823 116.653 65.2823ZM115.193 52.3745C115.193 52.3745 107.287 55.9059 104.489 57.8542C102.543 59.1937 101.205 61.3856 100.84 63.6993C100.596 65.1605 100.84 66.5 101.691 67.3524C102.543 68.083 104.002 68.2048 105.34 67.8395C107.651 67.2306 109.598 65.6476 110.692 63.5775C112.517 60.7768 115.193 52.3745 115.193 52.3745ZM85.8779 93.4114C87.3376 95.9686 89.6487 97.7952 92.4465 98.5258C94.1494 99.0129 95.8524 98.8911 96.9471 97.917C98.0419 96.9428 98.2852 95.238 98.0419 93.5332C97.677 90.7325 95.974 88.1753 93.6629 86.4705C90.3786 84.1568 80.769 79.8948 80.769 79.8948C80.769 79.8948 83.9317 90.0018 85.8779 93.4114ZM86.9727 77.5812C88.3107 79.8948 90.3786 81.5996 92.933 82.2085C94.5144 82.5738 96.0957 82.5738 97.0688 81.7214C98.0419 80.869 98.2852 79.286 98.0419 77.703C97.677 75.1458 96.2173 72.8321 94.0278 71.2491C91.1084 69.0572 82.2287 65.1605 82.2287 65.1605C82.2287 65.1605 85.1481 74.4151 86.9727 77.5812ZM87.9458 63.6993C89.1622 65.7694 91.1084 67.3524 93.2979 67.9613C94.7576 68.3266 96.0957 68.2048 96.9471 67.4742C97.7986 66.7435 98.0419 65.2823 97.7986 63.821C97.4337 61.5074 96.0957 59.3155 94.1494 57.976C91.4733 56.0277 83.4451 52.4963 83.4451 52.4963C83.4451 52.4963 86.3645 60.7768 87.9458 63.6993ZM35.3973 28.9945C35.3973 29.3598 35.0323 29.4815 34.3025 29.4815C34.4241 29.4815 34.3025 29.4815 33.6943 29.4815C33.0861 29.4815 32.113 29.4815 30.8966 29.4815H28.5854C27.9772 29.4815 27.1257 29.4815 26.1526 29.4815C25.1795 29.4815 24.2064 29.4815 23.3549 29.4815H22.99C22.2601 29.4815 21.8952 29.3598 21.8952 28.9945C21.8952 28.8727 22.0169 28.7509 22.1385 28.6292C22.3818 28.6292 22.99 28.5074 24.2064 28.5074C25.0579 28.5074 25.5444 28.3856 25.7877 28.1421C25.9093 27.8985 26.031 27.1679 26.031 25.8284V5.61439C25.3011 7.6845 24.0847 11.0941 22.3818 15.9649C21.4087 18.8875 20.1923 22.5406 18.7326 27.1679C18.3677 28.5074 18.0027 29.1162 17.7595 29.1162C17.3945 29.1162 17.0296 28.5074 16.6647 27.4114C15.6916 24.4889 12.8939 17.4262 8.14989 5.97971V27.5332C8.14989 28.0203 8.39317 28.3856 8.75809 28.5074C9.36629 28.5074 10.0961 28.6292 11.0692 28.6292C11.5558 28.6292 11.9207 28.7509 11.9207 29.1162C11.9207 29.4816 11.5558 29.6033 10.7043 29.6033H9.85285C9.48792 29.6033 9.00137 29.6033 8.51481 29.6033H4.98724C4.62232 29.6033 4.13576 29.6033 3.6492 29.6033C3.041 29.6033 2.67608 29.4816 2.67608 29.1162C2.67608 28.8727 3.28428 28.6292 4.62232 28.6292C5.59544 28.6292 6.082 28.5074 6.20364 28.2638C6.32528 28.0203 6.44692 27.4114 6.44692 26.1937V4.76199C6.44692 3.30074 6.32528 2.44834 6.082 2.20479C5.83872 1.96125 4.8656 1.83948 3.40592 1.71771C2.91936 1.71771 2.55444 1.59594 2.55444 1.23063C2.55444 0.987083 2.91936 0.86531 3.6492 0.743539C4.37904 0.743539 6.81185 0.621769 11.1909 0.621769L11.4342 1.35239C11.6775 1.83948 11.9207 2.44834 12.2856 3.30074L13.7453 7.07564C14.1102 8.17158 14.8401 9.87638 15.8132 12.3118L19.0975 20.4705C19.7057 18.5221 20.1923 16.9391 20.5572 15.9649L25.9093 0.5H30.6533H33.451C34.5458 0.5 35.0323 0.621768 35.0323 0.987082C35.0323 1.3524 34.6674 1.47417 33.8159 1.47417C32.7212 1.47417 32.113 1.59594 31.8697 1.59594C31.2615 1.83948 31.0182 2.2048 31.0182 2.93542V25.5849C31.0182 27.2897 31.1399 28.1421 31.5048 28.2638C31.7481 28.3856 32.7212 28.5074 34.4241 28.5074C35.0323 28.5074 35.3973 28.6292 35.3973 28.9945ZM63.6178 27.7768C63.6178 29.1162 62.4014 29.7251 60.0902 29.7251C57.9007 29.7251 55.9544 28.8727 54.6164 27.1679C54.0082 26.4373 53.5216 25.7066 53.4 24.976C53.1567 24.2454 52.9134 22.4188 52.6702 19.6181C52.4269 17.7915 51.9403 16.5738 50.9672 15.8432C49.9941 15.1125 48.4128 14.7472 46.1016 14.6255V27.5332C45.98 28.1421 47.0747 28.3856 49.2642 28.3856C49.7508 28.3856 49.9941 28.5074 49.9941 28.8727C49.9941 29.1162 49.7508 29.3598 49.1426 29.3598C48.656 29.3598 48.2911 29.3598 47.8046 29.3598H45.615C44.6419 29.3598 43.5472 29.3598 42.3308 29.3598C41.1144 29.3598 40.3845 29.3598 40.2629 29.3598H39.0465C37.8301 29.3598 37.3435 29.238 37.3435 28.9945C37.3435 28.6292 37.5868 28.5074 37.9517 28.5074C38.0733 28.5074 38.3166 28.5074 38.5599 28.5074H38.8032C40.2629 28.5074 40.9927 28.2638 40.9927 27.655V2.93542C40.9927 2.44834 40.8711 2.2048 40.6278 2.08303C40.3845 1.96125 39.7763 1.83948 38.8032 1.83948C37.8301 1.83948 37.3435 1.71771 37.3435 1.35239C37.3435 1.10885 37.5868 0.865313 38.195 0.865313H38.6816C39.2898 0.865313 41.3576 0.865313 44.6419 0.865313C45.9799 0.865313 47.1964 0.865313 48.0478 0.865313C48.8993 0.865313 49.6292 0.865313 50.1157 0.865313C52.9134 0.865313 55.103 1.47417 56.8059 2.57011C58.5089 3.66605 59.3604 5.24907 59.3604 7.07564C59.3604 9.14575 58.5089 10.7288 56.6843 12.0683C54.8597 13.286 52.3052 14.0166 49.1426 14.2601C52.6702 14.6255 55.103 15.5996 56.3194 17.0609C57.6574 18.5221 58.5089 21.0793 58.8738 24.976C59.1171 27.5332 59.8469 28.8727 61.185 28.8727C61.4282 28.8727 61.5499 28.8727 61.5499 28.6292C61.5499 28.6292 61.5499 28.5074 61.4282 28.2638C61.3066 28.0203 61.3066 27.8985 61.3066 27.7768C61.3066 27.0461 61.6715 26.559 62.523 26.559C63.2528 26.559 63.6178 26.9244 63.6178 27.7768ZM53.7649 7.56273C53.7649 3.78782 51.9403 1.96125 48.2911 1.96125C47.318 1.96125 46.7098 2.08302 46.4665 2.20479C46.2232 2.44834 46.1016 2.81365 46.1016 3.54428V13.7731C51.2105 13.7731 53.7649 11.703 53.7649 7.56273Z"
              fill="#7D141B"></path>
          </svg>
        </div>
      </div>
    </section>
    <VideoRoll />
    <section class="py-20 bg-second-300">
      <div class="container wrapper max-w-[1274px]">
        <div class="grid md:grid-cols-2">
          <div class="relative mb-12 md:mb-0 md:mr-[100px] px-8 md:px-0">
            <img src="/assets/images/prezes.png" class="rounded-3xl" />
            <div
              class="p-10 bg-gold-100 rounded-full absolute -top-[44px] right-[0px] md:-top-[22px] md:-right-[22px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="16"
                viewBox="0 0 18 16"
                fill="none"
              >
                <path
                  d="M4.3 0L6.05 1.25C5.71667 1.71667 5.31667 2.38333 4.85 3.25C4.41667 4.11667 4.05 5.08333 3.75 6.15C3.45 7.18334 3.33333 8.2 3.4 9.2C3.63333 9.1 3.83333 9.05 4 9.05C4.16667 9.01667 4.33333 9 4.5 9C5.33333 9 6.05 9.25 6.65 9.75C7.28333 10.25 7.6 11 7.6 12C7.6 12.9667 7.28333 13.7833 6.65 14.45C6.05 15.1167 5.25 15.45 4.25 15.45C2.85 15.4833 1.78333 15.0167 1.05 14.05C0.35 13.0833 0 11.8833 0 10.45C0 9.45 0.166667 8.35 0.5 7.15C0.833333 5.95 1.31667 4.73333 1.95 3.5C2.58333 2.26667 3.36667 1.1 4.3 0ZM13.9 0L15.65 1.25C15.3167 1.71667 14.9167 2.38333 14.45 3.25C14.0167 4.11667 13.65 5.08333 13.35 6.15C13.05 7.18334 12.9333 8.2 13 9.2C13.2333 9.1 13.4333 9.05 13.6 9.05C13.7667 9.01667 13.9333 9 14.1 9C14.9333 9 15.65 9.25 16.25 9.75C16.8833 10.25 17.2 11 17.2 12C17.2 12.9667 16.8833 13.7833 16.25 14.45C15.65 15.1167 14.85 15.45 13.85 15.45C12.45 15.4833 11.3833 15.0167 10.65 14.05C9.95 13.0833 9.6 11.8833 9.6 10.45C9.6 9.45 9.76667 8.35 10.1 7.15C10.4333 5.95 10.9167 4.73333 11.55 3.5C12.1833 2.26667 12.9667 1.1 13.9 0Z"
                  fill="#651B22"></path>
              </svg>
            </div>
          </div>
          <div class="text-white">
            <h2 class="mb-4">Najlepsza jakość tempury</h2>
            <h3 class="mb-8">10 nasz nieustanny cel</h3>
            <h3 class="lora mb-8">
              Wierzymy, że przez nieustanne poszukiwania innowacyjnych rozwiązań
              w dziedzinach w których wydawałoby się, że wszystko jest już
              zrobione, możemy zaoferować pacjentom wyjątkowe produkty
              wyróżniające się jakością oraz skutecznością działania.
            </h3>
            <h5 class="mb-2">Łukasz Strachowski</h5>
            <p class="text-sm">Prezes zarządu Mr Nodu</p>
          </div>
        </div>
      </div>
    </section>
    <About />
    <BrandRoll />
    <Newsletter />
  </main>
</Layout>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<link rel="stylesheet" href="/assets/css/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
></script>
<script is:inline src="/assets/js/script.js"></script>
