---

import Layout from "../layouts/Layout.astro";
import Newsletter from "../components/Newsletter.astro";
import VideoSlider from "../components/VideoSlider.astro";
import VideoRoll from "../components/VideoRoll.astro";
 import About from "../components/About.astro";
 import BrandRoll from "../components/BrandRoll.astro"
import Instagram from "../components/Instagram.astro";
import BlogRoll from "../components/BlogRoll.astro";
import PackshotSlider from "../components/Packshot_slider.astro";
import References from "../components/References.astro";
import HeroHeader from "../components/HeroHeader.astro";

const hero ={
    title: "Mr Nodu",
    subtitle: "co wyróżnia naszą posypkę panko?",
    text: "Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.",
    button_link: "/produkt",
    image: "/assets/images/produkty-hero.png",
    textdark: true

}
---

<Layout title="Mr Nodu" isHome={false} textdark={true} >
  <main>
    <section
    class="bg-white relative products-hero"
  >
  <div class="swiper products-swiper h-full">
    <div class="swiper-wrapper">
      {[1,2,3,4].map((item)=>{
        return(
          <div class="swiper-slide pt-[100px] md:pt-52 pb-[100px] md:pb-28 relative">
            <div
      class="container wrapper max-w-[1274px] text-main-200 relative z-20 h-full"
    >
      <div class="max-w-[565px] flex-1 mb-8 lg:mb-0 h-full">
        <h1 class="mb-4">Mr Nodu</h1>
        <h3 class="mb-8">co wyróżnia naszą posypkę panko?</h3>
        <p class="mb-8 hidden md:block">
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
      
            <a
              class="btn primary full absolute bottom-0 md:relative"
              href="/produkt"
            >
              Poznaj produkt
            </a>
         
      </div>
      
    </div>
    
        
        <picture >
          <source 
            srcset="/assets/images/produkty-hero.png"
            media="(min-width: 1024px)"
          />
          <source 
            srcset="/assets/images/produkty-hero-tab.png"
            media="(min-width: 764px)"
          />
         
          <img 
          class="absolute left-0 top-0 w-full h-full object-cover object-right"
            src="/assets/images/produkty-hero-mobile.png" 
            alt="Produkty"
          />
        </picture>
      
            </div>
        )
      })}
    </div>
    <div class="container wrapper absolute bottom-0 w-full left-0 z-20">
    <div class="slider-navigation mb-8">
     
      <button class="swiper-button-prev nav-prev"
        ><svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.5333 0.666687L7.76668 15.5014C7.69619 15.5639 7.63975 15.6407 7.60111 15.7266C7.56246 15.8126 7.54248 15.9058 7.54248 16C7.54248 16.0943 7.56246 16.1874 7.60111 16.2734C7.63975 16.3594 7.69619 16.4361 7.76668 16.4987L24.5333 31.3334"
            stroke="#60113D"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
      <div class="w-full ">
        <div class="flex items-center gap-7 mx-auto w-full justify-center">
          <div class="current"></div>
          <div class="swiper-scrollbar max-w-[100px] lg:max-w-[172px]"></div>
          <div class="total"></div>
        </div>
      </div>
      <button class="swiper-button-next nav-next">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_266_1261)">
            <path
              d="M7.46665 31.3333L24.2333 16.4986C24.3038 16.4361 24.3602 16.3593 24.3989 16.2734C24.4375 16.1874 24.4575 16.0942 24.4575 16C24.4575 15.9057 24.4375 15.8126 24.3989 15.7266C24.3602 15.6406 24.3038 15.5639 24.2333 15.5013L7.46665 0.666647"
              stroke="#60113D"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
          <defs>
            <clipPath id="clip0_266_1261">
              <rect
                width="32"
                height="32"
                fill="white"
                transform="translate(32 32) rotate(180)"></rect>
            </clipPath>
          </defs>
        </svg>
      </button>
      </div>
    </div>
  </div>
   
  </section>
   
    <BlogRoll />
    <References bg_class="bg-gold-200/10"/>
    <Instagram />
    <Newsletter />
  </main>
</Layout>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<link rel="stylesheet" href="/assets/css/slider.css" /> 
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
></script>
<script is:inline src="/assets/js/script.js"></script>
