---
---
<section class="py-20">
    <div class="container wrapper max-w-[1274px]">
        <div class="grid md:grid-cols-2 gap-14 md:gap-0">
            <div>
                <h2 class="mb-10 text-main-200">Jesteśmy dynamicznie rozwijającą się spółką z polskim kapitałem</h2>
                <p class="text-main-200 mb-8">Naszym celem jest dostarczanie nowoczesnych, niestandardowych rozwiązań: receptur nowych produktów i całościowych koncepcji dla sektora farmaceutycznego i stomatologicznego. Oferowanie przez nas rozwiązania już od wielu lat wspomagają i przyspieszają proces poprawy jakości życia klientów, którzy nam zaufali. Osiągamy to, dzięki współpracy z wieloma wybitnymi naukowcami i praktykami z kraju i zagranicy. A także dzięki znakomitym specjalistom, których zatrudniamy bezpośrednio w naszej firmie. Nasze preparaty poddawane są rygorystycznym badaniom zgodnie z ustawodawstwem polskim i europejskim.</p>
                <a class="btn primary full mx-auto md:ml-0">Dowiedz się więcej</a>
            </div>
            <div>
            <img src="/assets/images/panko-1.png" class="ml-auto"/>
            </div>
        </div>
    </div>
</section>