---
import Input from "../components/Input.astro";
import Select from "../components/Select.astro";
import TextArea from "./TextArea.astro";
---

<section class="pt-52 pb-16 bg-second-400">
  <div class="container wrapper max-w-[1274px] md:flex items-start">
    <div
      class="text-main-200 max-w-[648px] flex flex-col lg:mr-28 mb-14 lg:mb-0"
    >
      <h1 class="mb-4">
        Napisz do nas
      </h1>
     <h4 class="mb-8">jesteś zainteresowany? Wypełnij formularz kontaktowy.</h4>
     <form class="w-full grid gap-8 form-full white">
      <Input
        type="mail"
        id="mail"
        label="E-mail"
        placeholder="E-mail"
        name="mail"
      />
      <Select name="select" placeholder="Wybierz temat" />
      <TextArea  />
      <button type="button" class="btn primary full">Wyślij</button>
      </form>
    </div>
    <div>

     
      </div>
    <div>
      <img src="/assets/images/quality-1.png"  class="rounded-2xl ml-auto mb-8"/>
      <div class="text-main-200 grid md:flex gap-6">
        <div class="flex gap-4 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M0.5 3.95399H23.5V19.954H0.5V3.95399Z" stroke="#651B22" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M22.9118 4.536L12.0008 13.454L1.08984 4.536" stroke="#651B22" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h4>pomoc@mrnodu.pl</h4>
        </div>
        <div  class="flex gap-4 items-center">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5 0.5H7.5C6.39543 0.5 5.5 1.39543 5.5 2.5V21.5C5.5 22.6046 6.39543 23.5 7.5 23.5H16.5C17.6046 23.5 18.5 22.6046 18.5 21.5V2.5C18.5 1.39543 17.6046 0.5 16.5 0.5Z" stroke="#651B22" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.5 19.5H5.5" stroke="#651B22" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.5 4.5H5.5" stroke="#651B22" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5 2.5H13.5" stroke="#651B22" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 21.75C11.8619 21.75 11.75 21.6381 11.75 21.5C11.75 21.3619 11.8619 21.25 12 21.25" stroke="#651B22"/>
            <path d="M12 21.75C12.1381 21.75 12.25 21.6381 12.25 21.5C12.25 21.3619 12.1381 21.25 12 21.25" stroke="#651B22"/>
            </svg>
            
          <h4>+48 22 600 600 600</h4>
        </div>
      </div>
  </div>
</section>
