---
const footerMenu = [
  { title: "Kontakt", link: "/kontakt" },
  { title: "Klauzula prawna", link: "/" },
  { title: "Polityka prywatności", link: "/" },
  { title: "Ustawienia cookies", link: "/" },
  { title: "O nas", link: "/o-nas" },
  { title: "Marka Mr Nodu", link: "/marka-mr-nodu" },
  { title: "Baza wiedzy", link: "/baza-wiedzy" },
  { title: "Jakość produktów", link: "/jakosc-produktow" },
  { title: "Produkty", link: "/produkty" },
  { title: "Mr Nodu Panko", link:"mr-nodu-panko"},
  { title: "Mr Nodu Panko", link:"mr-nodu-panko"}
];
---

<footer class="bg-main-100 text-white pt-28 pb-36">
  <div class="container px-8 lg:px-16 lg:flex">
    <div class="lg:mr-20 mb-8 lg:mb-0">
      <a href="/" class="logo">
        <svg width="166" height="94" viewBox="0 0 166 94" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M53.5265 42.1254C53.5265 42.3861 53.1617 42.4903 52.4842 42.4382H51.546H50.7642C50.2951 42.4382 50.0346 42.4903 49.9303 42.6467C49.8261 42.8031 49.8261 43.2202 49.8261 43.898V65.3256C49.8261 66.629 49.8261 67.411 49.774 67.6196C49.7218 67.8281 49.6697 67.9324 49.5134 67.9324C49.357 67.9324 49.1485 67.776 48.94 67.5153L43.4675 60.5292C40.2882 56.4626 36.4835 51.4055 31.9492 45.3578V66.1598C32.0013 66.4726 32.2097 66.6811 32.5746 66.7854C32.9915 66.8897 33.9297 66.9418 35.4411 66.9418C35.806 66.9418 36.0145 67.0461 36.0145 67.2546C36.0145 67.5153 35.6496 67.6196 34.92 67.6196C34.6594 67.6196 33.8776 67.5674 32.4703 67.5153C32.0013 67.5153 31.5843 67.4631 31.1674 67.4631C31.2195 67.4631 30.9589 67.4632 30.4377 67.5153C29.9165 67.5674 29.0826 67.5674 28.0402 67.5674H27.6232C26.9457 67.5674 26.633 67.4632 26.633 67.2546C26.633 67.0461 26.8936 66.9418 27.4669 66.9418C29.1347 66.9418 30.125 66.8375 30.3856 66.6811C30.6462 66.5247 30.8025 66.0034 30.8025 65.1171V46.7654C30.8025 44.68 30.3335 43.4288 29.3432 42.9074C28.8741 42.6467 28.0923 42.5425 26.8936 42.5425C26.1639 42.5425 25.7991 42.3861 25.7991 42.1254C25.7991 41.8647 26.0075 41.7604 26.4245 41.7604C26.9978 41.7604 27.7275 41.7604 28.6135 41.8126C29.4995 41.8647 29.9686 41.8647 30.0207 41.8647C30.125 41.8647 30.4898 41.8647 31.2195 41.8126C32.1576 41.8126 33.0437 41.7604 33.9297 41.7083L48.6273 60.8941V44.3672C48.6273 43.5852 48.6273 43.1159 48.5752 42.9595C48.5231 42.8031 48.4189 42.6989 48.2104 42.5946C48.0019 42.4903 47.3243 42.4903 46.1777 42.4903C45.1353 42.4903 44.6663 42.3861 44.6663 42.1775C44.6663 41.9168 45.0311 41.8126 45.7086 41.8126H47.2201C47.5849 41.8126 48.0019 41.8126 48.4189 41.8126C48.8879 41.8126 49.1485 41.8126 49.2528 41.8126C49.3049 41.8126 49.5134 41.8126 50.0346 41.8126C50.5036 41.8126 50.9206 41.8126 51.3375 41.8126H52.6405C53.2138 41.7604 53.5265 41.9168 53.5265 42.1254ZM111.483 54.7421C111.483 59.1215 109.711 62.5624 106.219 64.9607C103.665 66.7333 100.225 67.6717 95.9517 67.6717C95.8474 67.6717 95.3262 67.6717 94.4402 67.6717C93.5542 67.6717 92.2512 67.6717 90.5312 67.6717H88.3944H85.0066C84.7981 67.6717 84.5896 67.6717 84.3812 67.6717C83.86 67.6717 83.5473 67.5674 83.5473 67.3067C83.5473 67.0982 84.0163 66.9939 84.9024 66.9939C86.049 66.9939 86.7787 66.7854 87.0914 66.4204C87.1956 66.264 87.2477 65.7948 87.2477 65.0128V44.8885C87.2477 43.6894 87.1435 42.9595 86.935 42.751C86.7265 42.5425 85.9969 42.4382 84.746 42.4382C84.0685 42.4382 83.7557 42.2818 83.7557 42.0211C83.7557 41.8126 84.0163 41.7083 84.4854 41.7083C84.4333 41.7083 84.746 41.7083 85.4236 41.7083C86.1011 41.7083 86.7265 41.7083 87.352 41.7083H91.9385C97.0462 41.7083 100.695 42.0211 102.831 42.6467C105.437 43.3766 107.522 44.8886 109.086 47.0782C110.701 49.3201 111.483 51.8747 111.483 54.7421ZM106.688 54.5857C106.688 50.467 105.75 47.4432 103.926 45.462C102.102 43.533 99.1831 42.5425 95.2741 42.5425C93.3457 42.5425 92.1991 42.6989 91.8342 43.0638C91.6779 43.2202 91.5736 43.8458 91.5736 44.8364V64.7C91.5736 65.3777 91.5736 65.847 91.6258 65.9512C91.6779 66.1076 91.7821 66.2119 91.9906 66.3162C92.6681 66.629 94.1275 66.7854 96.3165 66.7854C99.3915 66.7854 101.841 65.847 103.717 63.9701C105.698 62.0411 106.688 58.913 106.688 54.5857ZM140.201 42.1254C140.201 42.3339 139.94 42.4382 139.419 42.4382C139.315 42.4382 139.054 42.4382 138.585 42.4382C138.429 42.4382 138.22 42.4382 138.012 42.4382C137.282 42.4382 136.865 42.5946 136.709 42.9074C136.657 43.0638 136.605 43.3766 136.605 43.7416V57.7138C136.605 61.3112 135.823 63.9701 134.259 65.6384C132.696 67.3067 130.194 68.0888 126.754 68.0888C122.637 68.0888 119.718 67.0461 118.05 65.0128C116.956 63.6573 116.382 61.4155 116.382 58.2873V43.3766C116.278 42.9074 115.965 42.6467 115.34 42.5425C115.184 42.5425 114.61 42.4903 113.724 42.4903C113.255 42.4382 112.995 42.3339 112.995 42.1254C112.995 41.9168 113.203 41.8126 113.568 41.8126H114.35C114.506 41.8126 114.819 41.8126 115.34 41.8126C115.809 41.8126 116.226 41.8126 116.591 41.8126H122.689C122.845 41.8126 123.002 41.8126 123.21 41.8126C123.679 41.8126 123.94 41.969 123.94 42.2296C123.94 42.3861 123.835 42.4903 123.679 42.5425C123.523 42.5425 122.949 42.5946 121.959 42.5946C121.542 42.5946 121.282 42.5946 121.125 42.6467C120.865 42.751 120.708 42.9074 120.656 43.1681C120.604 43.2724 120.604 43.9501 120.604 45.3056V58.6001C120.604 61.8847 121.177 64.0744 122.376 65.2735C123.575 66.4726 125.347 67.0461 127.692 67.0461C132.018 67.0461 134.468 64.9085 135.041 60.6334C135.145 60.0078 135.145 57.2446 135.145 52.4482V50.3106V47.3389V44.8364C135.145 44.5757 135.145 44.3151 135.145 44.0023C135.145 43.6894 135.145 43.533 135.145 43.5852C135.145 43.0638 134.833 42.6989 134.259 42.5946C134.051 42.5425 133.478 42.5425 132.487 42.5425C131.914 42.5425 131.653 42.3861 131.653 42.1254C131.653 41.9168 131.862 41.8126 132.279 41.8126C132.487 41.8126 132.696 41.8126 132.852 41.8126C133.217 41.8126 134.416 41.8126 136.605 41.8126C136.917 41.8126 137.282 41.8126 137.699 41.8126C138.064 41.8126 138.325 41.8126 138.533 41.8126H139.159C139.888 41.8126 140.201 41.9168 140.201 42.1254ZM81.9837 54.8985C81.9837 58.6001 80.7328 61.7283 78.179 64.2829C75.6251 66.8375 72.498 68.1409 68.7975 68.1409C64.8886 68.1409 61.5529 66.8375 58.8948 64.2308C56.2367 61.624 54.8816 58.4437 54.8816 54.6379C54.8816 50.7798 56.1846 47.5996 58.7385 45.0971C61.2923 42.6467 64.628 41.3955 68.6411 41.3955C72.4459 41.3955 75.573 42.6989 78.179 45.2535C80.6807 47.8603 81.9837 51.0405 81.9837 54.8985ZM68.4327 41.4476C68.4327 41.4476 67.0254 44.5757 66.7649 45.827C66.5564 46.7654 66.7127 47.7039 67.2339 48.4859C67.5466 48.9551 67.9636 49.3201 68.4327 49.3201C68.9017 49.3201 69.3187 48.9551 69.6314 48.4859C70.1526 47.7039 70.309 46.7654 70.1005 45.827C69.8399 44.5757 68.4327 41.4476 68.4327 41.4476ZM76.4069 59.7471C76.4069 59.7471 72.2895 61.5719 70.8823 62.5624C69.892 63.2923 69.1623 64.3872 69.006 65.5863C68.9017 66.3683 69.006 67.0461 69.4751 67.4631C69.9441 67.8802 70.6738 67.8802 71.4035 67.7238C72.6022 67.411 73.5925 66.629 74.2179 65.5341C75.0518 64.0744 76.4069 59.7471 76.4069 59.7471ZM75.7815 53.4909C75.7815 53.4909 72.0289 55.1592 70.7259 56.0976C69.7878 56.7754 69.1623 57.766 69.006 58.8608C68.9017 59.5386 69.006 60.2163 69.4229 60.5813C69.8399 60.9462 70.5174 60.9984 71.195 60.7898C72.2895 60.5292 73.1755 59.7993 73.7488 58.8087C74.5306 57.401 75.7815 53.4909 75.7815 53.4909ZM75.1561 47.9645C75.1561 47.9645 71.7683 49.4765 70.5696 50.3106C69.7356 50.8841 69.1623 51.8226 69.006 52.8131C68.9017 53.4387 69.006 54.0122 69.3708 54.3772C69.7357 54.69 70.3611 54.7421 70.9344 54.5857C71.9247 54.325 72.7586 53.6473 73.2276 52.761C74.0094 51.5619 75.1561 47.9645 75.1561 47.9645ZM62.5953 65.5341C63.2207 66.629 64.211 67.411 65.4097 67.7238C66.1394 67.9324 66.8691 67.8802 67.3382 67.4631C67.8072 67.0461 67.9115 66.3162 67.8072 65.5863C67.6509 64.3872 66.9212 63.2923 65.9309 62.5624C64.5237 61.5719 60.4063 59.7471 60.4063 59.7471C60.4063 59.7471 61.7614 64.0744 62.5953 65.5341ZM63.0644 58.7565C63.6377 59.7471 64.5237 60.477 65.6182 60.7377C66.2958 60.8941 66.9733 60.8941 67.3903 60.5292C67.8072 60.1642 67.9115 59.4864 67.8072 58.8087C67.6509 57.7138 67.0254 56.7233 66.0873 56.0455C64.8364 55.1071 61.0317 53.4387 61.0317 53.4387C61.0317 53.4387 62.2826 57.401 63.0644 58.7565ZM63.4813 52.8131C64.0025 53.6994 64.8364 54.3772 65.7746 54.6379C66.4 54.7943 66.9733 54.7421 67.3382 54.4293C67.703 54.1165 67.8072 53.4909 67.703 52.8653C67.5466 51.8747 66.9733 50.9362 66.1394 50.3628C64.9928 49.5286 61.5529 48.0167 61.5529 48.0167C61.5529 48.0167 62.8038 51.5619 63.4813 52.8131ZM40.9658 37.9546C40.9658 38.111 40.8094 38.1631 40.4967 38.1631C40.5488 38.1631 40.4967 38.1631 40.2361 38.1631C39.9755 38.1631 39.5586 38.1631 39.0374 38.1631H38.0471C37.7865 38.1631 37.4217 38.1631 37.0047 38.1631C36.5878 38.1631 36.1708 38.1631 35.806 38.1631H35.6496C35.3369 38.1631 35.1805 38.111 35.1805 37.9546C35.1805 37.9024 35.2327 37.8503 35.2848 37.7981C35.389 37.7981 35.6496 37.746 36.1708 37.746C36.5357 37.746 36.7441 37.6939 36.8484 37.5896C36.9005 37.4853 36.9526 37.1725 36.9526 36.599V27.9446C36.6399 28.8309 36.1187 30.2907 35.389 32.3761C34.9721 33.6273 34.4509 35.1914 33.8254 37.1725C33.6691 37.746 33.5127 38.0067 33.4085 38.0067C33.2521 38.0067 33.0958 37.746 32.9394 37.2768C32.5225 36.0255 31.3237 33.0017 29.2911 28.101V37.3289C29.2911 37.5375 29.3953 37.6939 29.5517 37.746C29.8123 37.746 30.125 37.7981 30.5419 37.7981C30.7504 37.7981 30.9068 37.8503 30.9068 38.0067C30.9068 38.1631 30.7504 38.2152 30.3856 38.2152H30.0207C29.8644 38.2152 29.6559 38.2152 29.4474 38.2152H27.936C27.7796 38.2152 27.5711 38.2152 27.3627 38.2152C27.1021 38.2152 26.9457 38.1631 26.9457 38.0067C26.9457 37.9024 27.2063 37.7981 27.7796 37.7981C28.1966 37.7981 28.405 37.746 28.4572 37.6417C28.5093 37.5375 28.5614 37.2768 28.5614 36.7554V27.5796C28.5614 26.954 28.5093 26.589 28.405 26.4848C28.3008 26.3805 27.8838 26.3284 27.2584 26.2762C27.0499 26.2762 26.8936 26.2241 26.8936 26.0677C26.8936 25.9634 27.0499 25.9113 27.3627 25.8592C27.6754 25.8592 28.7178 25.807 30.594 25.807L30.6983 26.1198C30.8025 26.3284 30.9068 26.589 31.0631 26.954L31.6886 28.5702C31.8449 29.0394 32.1576 29.7693 32.5746 30.812L33.9818 34.3051C34.2424 33.4709 34.4509 32.7932 34.6072 32.3761L36.9005 25.7549H38.9331H40.1319C40.601 25.7549 40.8094 25.807 40.8094 25.9634C40.8094 26.1198 40.6531 26.172 40.2882 26.172C39.8192 26.172 39.5586 26.2241 39.4543 26.2241C39.1937 26.3284 39.0895 26.4848 39.0895 26.7976V36.4948C39.0895 37.2247 39.1416 37.5896 39.298 37.6417C39.4022 37.6939 39.8192 37.746 40.5488 37.746C40.8094 37.746 40.9658 37.7981 40.9658 37.9546ZM53.0575 37.4332C53.0575 38.0067 52.5363 38.2674 51.546 38.2674C50.6079 38.2674 49.774 37.9024 49.2006 37.1725C48.94 36.8597 48.7316 36.5469 48.6794 36.2341C48.5752 35.9213 48.471 35.1392 48.3667 33.9401C48.2625 33.1581 48.054 32.6367 47.6371 32.3239C47.2201 32.0111 46.5426 31.8547 45.5523 31.8026V37.3289C45.5002 37.5896 45.9692 37.6939 46.9074 37.6939C47.1159 37.6939 47.2201 37.746 47.2201 37.9024C47.2201 38.0067 47.1159 38.111 46.8553 38.111C46.6468 38.111 46.4904 38.111 46.282 38.111H45.3438C44.9269 38.111 44.4578 38.111 43.9366 38.111C43.4154 38.111 43.1027 38.111 43.0506 38.111H42.5294C42.0082 38.111 41.7997 38.0588 41.7997 37.9546C41.7997 37.7981 41.9039 37.746 42.0603 37.746C42.1124 37.746 42.2167 37.746 42.3209 37.746H42.4251C43.0506 37.746 43.3633 37.6417 43.3633 37.3811V26.7976C43.3633 26.589 43.3112 26.4848 43.2069 26.4326C43.1027 26.3805 42.8421 26.3284 42.4251 26.3284C42.0082 26.3284 41.7997 26.2762 41.7997 26.1198C41.7997 26.0156 41.9039 25.9113 42.1645 25.9113H42.373C42.6336 25.9113 43.5196 25.9113 44.9269 25.9113C45.5002 25.9113 46.0214 25.9113 46.3862 25.9113C46.751 25.9113 47.0637 25.9113 47.2722 25.9113C48.471 25.9113 49.4091 26.172 50.1388 26.6412C50.8685 27.1104 51.2333 27.7882 51.2333 28.5702C51.2333 29.4565 50.8685 30.1343 50.0867 30.7077C49.3049 31.2291 48.2104 31.5419 46.8553 31.6462C48.3667 31.8026 49.4091 32.2197 49.9303 32.8453C50.5036 33.4709 50.8685 34.5658 51.0248 36.2341C51.1291 37.3289 51.4418 37.9024 52.0151 37.9024C52.1193 37.9024 52.1714 37.9024 52.1714 37.7981C52.1714 37.7981 52.1714 37.746 52.1193 37.6417C52.0672 37.5375 52.0672 37.4853 52.0672 37.4332C52.0672 37.1204 52.2236 36.9118 52.5884 36.9118C52.9011 36.9118 53.0575 37.0683 53.0575 37.4332ZM48.8358 28.7787C48.8358 27.1625 48.054 26.3805 46.4904 26.3805C46.0735 26.3805 45.8129 26.4326 45.7086 26.4848C45.6044 26.589 45.5523 26.7455 45.5523 27.0583V31.4376C47.7413 31.4376 48.8358 30.5513 48.8358 28.7787Z" fill="white"/>
          </svg>
          
      </a>
    </div>
    <div class="mb-8 lg:mb-0 lg:mt-[74px]">
      <span class="block lora text-xl font-semibold mb-6 ">
        Naskróty
      </span>
      <nav class="w-full max-w-[548px]">
        <ul class="columns-1  md:columns-3 gap-24">
          {
            footerMenu.map((item) => (
              <li class="py-2">
                <a
                  href={item.link}
                  class=" footer-menu-text link  whitespace-nowrap"
                >
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div class="lg:ml-auto w-full max-w-[200px] lg:mt-[74px]">
      <span class="block lora text-xl font-semibold mb-6">
      Social media
      </span>
      <nav class="w-full max-w-[516px]">
        <ul class="">
          
          <li class="py-2">
            <a
              href="/"
              class="flex gap-4 items-center footer-menu-text"
            >
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM3.84054 6.62595H5.65351V12.0732H3.84054V6.62595ZM5.77292 4.9409C5.76115 4.4068 5.37922 4 4.75901 4C4.1388 4 3.73333 4.4068 3.73333 4.9409C3.73333 5.46393 4.12682 5.88245 4.73548 5.88245H4.74706C5.37922 5.88245 5.77292 5.46393 5.77292 4.9409ZM10.1044 6.49804C11.2974 6.49804 12.1918 7.27675 12.1918 8.94991L12.1917 12.0732H10.3788V9.15891C10.3788 8.42691 10.1165 7.92741 9.46017 7.92741C8.9593 7.92741 8.66096 8.26414 8.52993 8.58938C8.48199 8.70594 8.47023 8.86834 8.47023 9.03114V12.0733H6.65703C6.65703 12.0733 6.68093 7.13723 6.65703 6.62609H8.47023V7.39765C8.71085 7.02675 9.14181 6.49804 10.1044 6.49804Z" fill="#E4984C"/>
              </svg>
              

              Linked In
            </a>
          </li>
          <li class="py-2">
            <a
              href="/"
              class="flex gap-4 items-center footer-menu-text"
            >
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0.5C3.58172 0.5 0 4.08172 0 8.5C0 12.9183 3.58172 16.5 8 16.5C12.4183 16.5 16 12.9183 16 8.5C16 4.08172 12.4183 0.5 8 0.5ZM8.83385 8.8514V13.2038H7.03302V8.85157H6.13333V7.3517H7.03302V6.45119C7.03302 5.2276 7.54105 4.5 8.9844 4.5H10.186V6.00004H9.43492C8.87306 6.00004 8.83589 6.20965 8.83589 6.60084L8.83385 7.35153H10.1945L10.0353 8.8514H8.83385Z" fill="#E4984C"/>
              </svg>
              

              Facebook
            </a>
          </li>
          <li class="py-2">
            <a
              href="/"
              class="flex gap-4 items-center footer-menu-text"
            >
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM6.24108 3.75911C6.6962 3.7384 6.84162 3.73333 8.00039 3.73333H7.99906C9.15818 3.73333 9.30307 3.7384 9.75819 3.75911C10.2124 3.77991 10.5226 3.85182 10.7946 3.95734C11.0755 4.06623 11.3129 4.21201 11.5502 4.44934C11.7875 4.6865 11.9333 4.92455 12.0427 5.20517C12.1475 5.47646 12.2195 5.78651 12.2409 6.24074C12.2613 6.69585 12.2667 6.84128 12.2667 8.00004C12.2667 9.15881 12.2613 9.30388 12.2409 9.759C12.2195 10.213 12.1475 10.5232 12.0427 10.7946C11.9333 11.0751 11.7875 11.3131 11.5502 11.5503C11.3131 11.7876 11.0754 11.9338 10.7949 12.0428C10.5234 12.1483 10.213 12.2202 9.75881 12.241C9.30369 12.2617 9.15871 12.2668 7.99986 12.2668C6.84118 12.2668 6.69584 12.2617 6.24073 12.241C5.78659 12.2202 5.47645 12.1483 5.20498 12.0428C4.92454 11.9338 4.68649 11.7876 4.44942 11.5503C4.21217 11.3131 4.06639 11.0751 3.95733 10.7945C3.8519 10.5232 3.77999 10.2131 3.7591 9.75891C3.73848 9.30379 3.73332 9.15881 3.73332 8.00004C3.73332 6.84128 3.73866 6.69576 3.75901 6.24065C3.77946 5.7866 3.85146 5.47646 3.95724 5.20508C4.06657 4.92455 4.21235 4.6865 4.44969 4.44934C4.68684 4.21209 4.92489 4.06631 5.20552 3.95734C5.47681 3.85182 5.78686 3.77991 6.24108 3.75911Z" fill="#E4984C"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.61774 4.50204C7.69206 4.50193 7.77201 4.50196 7.85829 4.502L8.0005 4.50204C9.13971 4.50204 9.27473 4.50613 9.72461 4.52658C10.1406 4.5456 10.3664 4.61511 10.5168 4.67351C10.7159 4.75085 10.8579 4.84329 11.0071 4.99263C11.1564 5.14196 11.2489 5.28418 11.3264 5.4833C11.3848 5.63352 11.4544 5.8593 11.4733 6.27531C11.4938 6.72509 11.4982 6.8602 11.4982 7.99888C11.4982 9.13756 11.4938 9.27267 11.4733 9.72245C11.4543 10.1385 11.3848 10.3642 11.3264 10.5145C11.2491 10.7136 11.1564 10.8554 11.0071 11.0046C10.8578 11.1539 10.716 11.2464 10.5168 11.3237C10.3666 11.3824 10.1406 11.4517 9.72461 11.4707C9.27482 11.4912 9.13971 11.4956 8.0005 11.4956C6.8612 11.4956 6.72618 11.4912 6.27639 11.4707C5.86039 11.4515 5.63461 11.382 5.48412 11.3236C5.285 11.2463 5.14278 11.1538 4.99345 11.0045C4.84411 10.8552 4.75167 10.7133 4.67415 10.5141C4.61575 10.3639 4.54615 10.1381 4.52722 9.7221C4.50677 9.27232 4.50269 9.1372 4.50269 7.99781C4.50269 6.85842 4.50677 6.72402 4.52722 6.27424C4.54624 5.85824 4.61575 5.63245 4.67415 5.48205C4.75149 5.28294 4.84411 5.14072 4.99345 4.99138C5.14278 4.84205 5.285 4.7496 5.48412 4.67209C5.63452 4.61342 5.86039 4.54409 6.27639 4.52498C6.67 4.5072 6.82253 4.50187 7.61774 4.50098V4.50204ZM10.278 5.21049C9.99536 5.21049 9.76603 5.43956 9.76603 5.72232C9.76603 6.00499 9.99536 6.23433 10.278 6.23433C10.5607 6.23433 10.79 6.00499 10.79 5.72232C10.79 5.43965 10.5607 5.21032 10.278 5.21032V5.21049ZM5.80936 7.99986C5.80936 6.78983 6.79039 5.80877 8.00041 5.80872C9.21047 5.80872 10.1913 6.7898 10.1913 7.99986C10.1913 9.20991 9.21056 10.1905 8.0005 10.1905C6.79044 10.1905 5.80936 9.20991 5.80936 7.99986Z" fill="#E4984C"/>
              <path d="M8.00036 6.57764C8.78579 6.57764 9.4226 7.21435 9.4226 7.99987C9.4226 8.7853 8.78579 9.42211 8.00036 9.42211C7.21484 9.42211 6.57812 8.7853 6.57812 7.99987C6.57812 7.21435 7.21484 6.57764 8.00036 6.57764Z" fill="#E4984C"/>
              </svg>
              

              Instagram
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
