---
const { bg, video, image } = Astro.props;
---

<section class="bg-white relative getCursorPosition left-img home-hero">
  <div class="swiper home-swiper h-full relative !z-20">
    <div class="swiper-wrapper">
      {
        [1, 2, 3, 4].map((item) => {
          return (
            <div class="swiper-slide relative flex  md:mt-0 md:items-center ">
              <div class=" relative  z-20 md:h-full">
                <div class="container wrapper flex items-start md:items-center h-full mt-[100px] md:mt-0 max-[678px]:p-0 ">
                  <div class="items-center relative z-10 ">
                    <div class="lg:max-w-[620px] lg:pr-0">
                      <h1 class="text-main-200   mb-6 max-[678px]:px-4 inView fadeIn">
                        Panko Mr Nodu najbardziej chrupiące
                      </h1>
                      <div class="mt-12 px-4 py-8 md:px-0 md:py-0">
                        <span class="inView fadeIn  md:mt-0 mb-8 text-2xl font-normal block max-w-[435px]   md:text-main-300">chrupiące i najlepszej jakości, takie jest nasze panko!</span>
                        <a class="inView fadeIn  btn primary full mx-auto md:ml-0">Poznaj produkt</a>
                      </div>
                     
                    </div>
                  </div>
                 
                </div>
              </div>
              <div class="absolute inset-0 md:grid md:grid-cols-2 z-0 hidden">
                <div class="hidden md:block relative overflow-hidden">
                    <img class="left-cover w-full h-full  top-0 left-0 absolute object-cover inset-0 z-20" src="/assets/images/nodu-cover.svg"/> 
                <img src="/assets/images/home-hero.jpeg" class="w-full h-full  object-cover bg-image z-10 relative"/>
                </div>
                <div class="relative  overflow-hidden  bottom-0">
                  <img class=" right-cover w-full h-full  top-0 left-0 object-cover absolute inset-0 z-20" src="/assets/images/nodu-cover.svg"/> 
                  <video autoplay="" playsinline="" loop="" controlslist="nodownload" poster="https://c.stocksy.com/a/9bfI00/z9/4449811.jpg" src="https://c.stocksy.com/a/9bfI00/y0/4449811.mp4" class="relative z-0 w-full h-full object-cover" muted=""></video>
                </div>
                
              </div>
              <img class="mobile-cover w-full h-full  top-0 left-0 absolute object-cover inset-0 z-10 md:hidden" src="/assets/images/nodu-cover.svg"/> 
              
             
            </div>
          );
        })
      }
    </div>
    <div class="slider-navigation md:h-full md:absolute bg-white/70 md:bg-transparent">
      <div class="wrapper w-full md:h-full">
        <div class="container relative md:h-full">
          <div class="swiper-pagination !text-main-300 lora text-base"></div>
        </div>
      </div>
    </div>
   
  </div>
  
      <video
        autoplay="true"
        playsinline=""
        loop=""
        controlslist="nodownload"
        poster="https://c.stocksy.com/a/9bfI00/z9/4449811.jpg" src="https://c.stocksy.com/a/9bfI00/y0/4449811.mp4"
        class="w-full h-full absolute top-0 left-0 object-cover z-10 md:hidden"
        muted=""
      />
   
</section>
