---
---
<section class="bg-second-200/10 pt-28 pb-32">
    <div class="container wrapper max-w-[1274px] text-center text-main-200">
        <h1 class="mb-4">Mr Nodu</h1>
        <h3>co wyróżnia naszą posypkę panko?</h3>
        <div class="my-12 grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-12 lg:gap-24">
            <div class="text-center">
                <h3 class="uppercase font-medium mb-6">przebadany</h3>
                <p class="text-sm leading-[22px] mb-6">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis dolor.</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none" class="mx-auto">
                    <path d="M32.9282 9.58102L35.6358 5.26192L29.9742 1.71289L27.255 6.05072" stroke="#7D141B" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M19.0444 20.3486L16.6317 24.1976L21.2048 27.0644L23.625 23.2036" stroke="#7D141B" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M15.1138 17.8545L27.4638 25.6812" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M37.8162 34.8524C39.3648 32.6268 40.2726 29.9222 40.2726 27.0054C40.2726 21.524 37.0664 16.7916 32.4272 14.5811" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M25.1684 4.70557L16.4 18.6935L26.0414 24.7374L34.8098 10.7494L25.1684 4.70557Z" stroke="#7D141B" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M38.5546 34.8525V46.2871H7.27539V44.4129C7.27539 42.2037 9.06623 40.4129 11.2754 40.4129H25.7056V38.8525C25.7056 36.6433 27.4966 34.8525 29.7056 34.8525H38.5546Z" stroke="#7D141B" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M28.769 20.353C29.0172 20.353 29.6526 20.378 29.8932 20.4254C32.632 20.9656 34.8102 24.4236 34.8102 27.2484C34.8102 30.3216 32.248 34.852 28.5 34.852L7.20703 34.8526" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
            </div>
            <div class="text-center">
                <h3 class="uppercase font-medium mb-6">pyszny</h3>
                <p class="text-sm leading-[22px] mb-6">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis dolor.</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none" class="mx-auto">
                    <g clip-path="url(#clip0_68_171)">
                      <path d="M10.162 39.966C9.8954 40.2333 9.57869 40.4454 9.23 40.5901C8.88132 40.7348 8.50751 40.8093 8.13 40.8093C7.75249 40.8093 7.37868 40.7348 7.03 40.5901C6.68131 40.4454 6.3646 40.2333 6.098 39.966L1.856 35.752C1.58871 35.4854 1.37665 35.1687 1.23196 34.82C1.08727 34.4714 1.01279 34.0976 1.01279 33.72C1.01279 33.3425 1.08727 32.9687 1.23196 32.62C1.37665 32.2713 1.58871 31.9546 1.856 31.688C2.12155 31.416 2.43973 31.2008 2.79115 31.0557C3.14256 30.9106 3.51985 30.8386 3.9 30.844C5.34454 31.4871 6.65427 32.3978 7.76 33.528L10.16 35.904C10.4274 36.1703 10.6395 36.4868 10.7844 36.8352C10.9292 37.1837 11.0039 37.5573 11.004 37.9346C11.0042 38.312 10.9299 38.6857 10.7854 39.0342C10.641 39.3828 10.4291 39.6995 10.162 39.966Z" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M4.2 29.912C3.67426 29.3704 3.3827 28.6437 3.38831 27.8889C3.39393 27.1341 3.69627 26.4118 4.23001 25.878C4.76375 25.3443 5.48605 25.0419 6.24086 25.0363C6.99566 25.0307 7.72238 25.3223 8.264 25.848L14.294 31.88C14.5609 32.144 14.7729 32.4583 14.9178 32.8046C15.0626 33.151 15.1375 33.5226 15.138 33.898C15.1372 34.664 14.8339 35.3987 14.294 35.942C13.7439 36.4594 13.0172 36.7474 12.262 36.7474C11.5068 36.7474 10.7801 36.4594 10.23 35.942L4.2 29.912Z" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18.304 31.8239C18.0376 32.0912 17.721 32.3032 17.3725 32.4479C17.024 32.5925 16.6504 32.667 16.273 32.667C15.8957 32.667 15.522 32.5925 15.1735 32.4479C14.825 32.3032 14.5084 32.0912 14.242 31.8239L8.21 25.7999C7.94278 25.5335 7.73076 25.217 7.58609 24.8684C7.44143 24.5199 7.36696 24.1463 7.36696 23.7689C7.36696 23.3916 7.44143 23.0179 7.58609 22.6694C7.73076 22.3209 7.94278 22.0044 8.21 21.7379C8.47314 21.4699 8.78721 21.2571 9.13377 21.1122C9.48032 20.9672 9.85236 20.893 10.228 20.8939C10.6076 20.8926 10.9836 20.9665 11.3345 21.1113C11.6853 21.2562 12.004 21.4692 12.272 21.7379L18.304 27.7679C18.5703 28.0343 18.7816 28.3504 18.9257 28.6984C19.0699 29.0464 19.144 29.4193 19.144 29.7959C19.144 30.1726 19.0699 30.5455 18.9257 30.8935C18.7816 31.2415 18.5703 31.5576 18.304 31.8239Z" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M21.2 25.81C21.2116 26.1017 21.1464 26.3914 21.0109 26.6501C20.8754 26.9088 20.6744 27.1274 20.428 27.284C19.906 27.5655 19.3042 27.6622 18.7203 27.5583C18.1365 27.4545 17.6049 27.1562 17.212 26.712L13.176 22.642C12.9053 22.3806 12.6911 22.0665 12.5467 21.719C12.4022 21.3716 12.3305 20.9982 12.336 20.622C12.3311 20.2415 12.4037 19.8641 12.5495 19.5126C12.6953 19.1612 12.9112 18.8432 13.184 18.578C13.7346 18.0615 14.4611 17.774 15.216 17.774C15.9709 17.774 16.6974 18.0615 17.248 18.578C19.786 21.152 19.556 20.918 19.58 20.948" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12.63 46.032L7.402 40.802" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M23.068 27.7461L19.868 24.5461C19.6111 24.2892 19.4074 23.9842 19.2684 23.6486C19.1293 23.313 19.0578 22.9533 19.0578 22.5901C19.0578 22.2268 19.1293 21.8671 19.2684 21.5315C19.4074 21.1959 19.6111 20.8909 19.868 20.6341C20.1249 20.3772 20.4298 20.1734 20.7654 20.0344C21.101 19.8954 21.4607 19.8239 21.824 19.8239C22.1873 19.8239 22.547 19.8954 22.8826 20.0344C23.2182 20.1734 23.5231 20.3772 23.78 20.6341L27.694 24.5461C29.0777 25.9333 29.8548 27.8127 29.8548 29.7721C29.8548 31.7314 29.0777 33.6108 27.694 34.9981L27.05 35.6401C26.0126 36.6785 25.4299 38.0862 25.4299 39.5541C25.4299 41.0219 26.0126 42.4296 27.05 43.4681L29.432 46.1261" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M25.908 22.296L42.516 5.68799" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M1.402 46.802L7.402 40.802" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M46.988 10.16L39.256 17.892C38.0677 19.0737 36.4599 19.737 34.784 19.737C33.1081 19.737 31.5003 19.0737 30.312 17.892C29.1303 16.7036 28.4669 15.0959 28.4669 13.42C28.4669 11.7441 29.1303 10.1363 30.312 8.94795L38.064 1.19995" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_68_171">
                        <rect width="48" height="48" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
            </div>
            <div class="text-center">
                <h3 class="uppercase font-medium mb-6">zdrowy</h3>
                <p class="text-sm leading-[22px] mb-6">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis dolor.</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none" class="mx-auto">
                    <g clip-path="url(#clip0_68_184)">
                      <path d="M33.48 18.684L31.616 20.828" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M47 47L40.866 37.8V27.066C40.5253 25.0006 39.3787 23.1548 37.678 21.934L33.478 18.684L35.078 16.84C36.4548 15.463 37.3636 13.6878 37.6759 11.7658C37.9882 9.84371 37.6881 7.87212 36.818 6.13005C36.159 4.81609 35.1972 3.67746 34.0121 2.80788C32.8269 1.9383 31.4521 1.36264 30.0009 1.1283C28.5498 0.893953 27.0637 1.00762 25.665 1.45995C24.2664 1.91228 22.9951 2.69033 21.956 3.73005L19.4 6.28005L16.84 3.72005C15.8013 2.6799 14.5302 1.90147 13.1317 1.44887C11.7331 0.996278 10.247 0.882482 8.79577 1.11686C7.34458 1.35124 5.96985 1.92708 4.78485 2.79694C3.59985 3.66681 2.6385 4.80579 1.98001 6.12005C1.10678 7.86294 0.804716 9.83661 1.11669 11.7609C1.42867 13.6852 2.33884 15.4623 3.71801 16.84L19.4 33.2L20.342 32.216" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M3.25201 16.256H8.56001L10.2 14.076C10.3053 13.9437 10.4431 13.841 10.6 13.778C10.8391 13.672 11.108 13.654 11.3591 13.7272C11.6102 13.8004 11.8273 13.9601 11.972 14.178L15.142 19.624C15.2797 19.8471 15.4994 20.0073 15.754 20.07C16.0009 20.1459 16.267 20.129 16.5023 20.0226C16.7376 19.9162 16.926 19.7275 17.032 19.492L19.69 12.112C19.7751 11.8909 19.943 11.7115 20.158 11.612C20.3922 11.4928 20.6609 11.46 20.917 11.5193C21.173 11.5785 21.3999 11.7261 21.558 11.936L24.18 15.818C24.2804 15.9572 24.4132 16.0698 24.5668 16.1461C24.7205 16.2224 24.8905 16.2601 25.062 16.256H35.522" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M34.08 29.7121L26.62 23.7341C26.1177 23.2475 25.4442 22.9781 24.745 22.9837C24.0457 22.9894 23.3767 23.2698 22.8824 23.7644C22.388 24.259 22.108 24.9282 22.1027 25.6274C22.0974 26.3267 22.3672 27 22.854 27.5021L30.078 35.6541V40.7641C30.078 43.1781 33.528 46.9901 33.528 46.9901" stroke="#7D141B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_68_184">
                        <rect width="48" height="48" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
            </div>
        </div>
        <a class="btn primary full mx-auto">Zobacz więcej</a>
    </div>
</section>