---
const { reference } = Astro.props;
---

<article class="bg-second-200/20 rounded-2xl py-12 px-8 lg:px-16">
  <div class="text-bordo-100 flex gap-5 mb-5">
    <img
      class="rounded self-center"
      alt="Argument lorem ipsum"
      src={reference.image}
    />
    <div>
      <h3 class="  text-[28px] text-main-200 leading-8 lora">{reference.name}</h3>
      <p class="text-main-900 ">{reference.title}</p>
    </div>
  </div>

  <p class="text-xl leading-[30px] text-main-900">
    {reference.description}
  </p>
</article>
