---
---

<div class="relative">
  <video
    id="video"
    playsinline=""
    loop=""
    controlslist="nodownload"
    poster="../../public/assets/images/video-cover.jpeg"
    src="https://c.stocksy.com/a/XhRK00/y0/4873047.mp4"
    class="w-full h-full object-cover z-10 rounded-[32px]"
    muted=""></video>
  <button
    class="absolute w-8 h-8 lg:w-20 lg:h-20 md:w-[162px] md:h-[162px] rounded-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hover:scale-105 transition-all duration-300"
    id="play_button"
    ><svg xmlns="http://www.w3.org/2000/svg" width="119" height="118" viewBox="0 0 119 118" fill="none">
      <rect x="0.5" width="118" height="118" rx="59" fill="#F4C48D"/>
      <path d="M68 57.4019C70 58.5566 70 61.4434 68 62.5981L57.5 68.6603C55.5 69.815 53 68.3716 53 66.0622L53 53.9378C53 51.6284 55.5 50.185 57.5 51.3397L68 57.4019Z" fill="#F9F7F7"/>
    </svg>
  </button>
</div>
